body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    background: #F9FAFB;
}

.big-cont {
    width: 43%;
    margin: 200px auto;
    text-align: center;
    line-height: 1.8em;
}

.title-1 {
    font-size: 3em;
}

.title-2 {
    font-size: 1.3em;
    color: #6C727F;
}

form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    margin-top: 50px;
}

#inpt-1 {
    font-family: 'poppins';
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background: #F9FAFB;
}

::placeholder {
    color: #394150;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'poppins';
}

button {
    padding: 15px;
    border-radius: 12px;
    background: #284BCE;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    font-family: 'poppins';
}

.title-3 {
    font-size: 1em;
    color: #6C727F;
}



@media (max-width: 1100px) {
    .big-cont {
        width: 80%;
    }

    .title-1 {
        font-size: 2em;
    }

    form {
        width: 90%;
    }
}

@media (max-width: 412px) {
    .big-cont {
        width: 90%;
    }

    .title-1 {
        font-size: 1.8em;
    }

    form {
        width: 90%;
    }
}



